<h2 mat-dialog-title class="text-center font-weight-semibold custom-title-spacing">
  {{ data?.task ? 'Editar' : 'Crear' }} tarea
  <mat-icon class="float-end custom-close-icon" (click)="cancel()">close</mat-icon>
</h2>

<mat-dialog-content class="mat-typography custom-content-spacing">
  <form [formGroup]="taskForm" (ngSubmit)="submit()">
    <div class="form-group">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title" required>
        <mat-error *ngIf="taskForm.get('title')?.hasError('required')">
          El título es obligatorio
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description" rows="3"></textarea>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-end custom-actions-spacing">
  <button mat-stroked-button
          type="button"
          (click)="cancel()"
          class="me-2">
    Cancelar
  </button>
  <button mat-flat-button
          color="primary"
          type="submit"
          [disabled]="taskForm.invalid"
          (click)="submit()">
    {{ data?.task ? 'Actualizar' : 'Crear' }}
  </button>
</mat-dialog-actions>
